# ================= AUTH =================
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES=1d

# ================= PORTS =================
GATEWAY_PORT=8080
AUTH_PORT=4001
USER_PORT=4002
ORDER_PORT=4003
FRONTEND_PORT=3000
JENKINS_PORT=8081
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
ARGOCD_PORT=8082

# ================= GATEWAY URLs =================
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
ORDER_SERVICE_URL=http://order-service:4003

# ================= MONGODB =================
MONGO_URI_AUTH=mongodb://mongo:27017/authdb
MONGO_URI_USER=mongodb://mongo:27017/userdb
MONGO_URI_ORDER=mongodb://mongo:27017/orderdb

# ================= FRONTEND =================
VITE_API_URL=/api

# ================= GRAFANA =================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# ================= DOCKER HUB (Jenkins) =================
DOCKER_REGISTRY=docker.io
DOCKER_USERNAME=youruser
DOCKER_PASSWORD=yourtoken
IMAGE_PREFIX=shopsphere
IMAGE_TAG=latest

# ================= AWS / TERRAFORM =================
AWS_REGION=us-east-1
EKS_CLUSTER_NAME=shopsphere-eks
