FUSION_ENVIRONMENT=local
FUSION_LOG_LEVEL=INFO
FUSION_VERSION=2.0.0
FUSION_JWT_SECRET=please-change-me
FUSION_BOOTSTRAP_ADMIN_USER=admin
FUSION_BOOTSTRAP_ADMIN_PASSWORD=Welcome@12345

POSTGRES_USER=fusion
POSTGRES_PASSWORD=Welcome@12345
POSTGRES_DB=fusion

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=Welcome@12345
